@import "../../../node_modules/normalize.css/normalize.css";
@import "./vars";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}
html {
  font-size: 36px;
}

body {
  font-family: Fira-Sans, sans-serif;
  letter-spacing: -0.9px;
}


@import './utils';
@import "./component/header";
@import './component//sections';
@import './component/footer';

@import "./media";
